{{define "content"}}
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <h2>Welcome {{ .Session.FirstName }}</h2>
        <small>These are your entitlements:</small>
        <ul class="list-group clear-list m-t">
            {{ range $index, $element := .Session.Entitlements }}
            <li class="list-group-item">
                <span class="label label-info">{{ $index }}</span>{{ $element }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{end}}
