{{define "content"}}
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <h2>Welcome {{ .Session.FirstName }}</h2>
        <small>This is the Instance Identity Document:</small>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item">
                <span class="label label-info">AvailabilityZone</span>{{ .InstanceDocument.AvailabilityZone }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">PrivateIP</span>{{ .InstanceDocument.PrivateIP }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">Version</span>{{ .InstanceDocument.Version }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">Region</span>{{ .InstanceDocument.Region }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">InstanceID</span>{{ .InstanceDocument.InstanceID }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">InstanceType</span>{{ .InstanceDocument.InstanceType }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">AccountID</span>{{ .InstanceDocument.AccountID }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">ImageID</span>{{ .InstanceDocument.ImageID }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">Architecture</span>{{ .InstanceDocument.Architecture }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">Signature</span>{{ .Signature }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">PKCS7</span>{{ .PKCS7 }}
            </li>
        </ul>
    </div>
</div>
{{end}}
