{{define "content"}}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Secrets</h1>
            <p>{{ .Auth.ClientToken }}</p>
        </div>
    </div>
</div>
{{end}}
