{{define "content"}}
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-3">
        <h2>Welcome {{ .Session.FirstName }}</h2>
        <small>This is your secret:</small>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item">
                <span class="label label-info">1</span>{{ .Secret.Secret1 }}
            </li>
            <li class="list-group-item">
                <span class="label label-info">2</span>{{ .Secret.Secret2 }}
            </li>
        </ul>
    </div>
</div>
{{end}} {{end}}
