{{define "content"}}
<div class="container">
    <div class="row">
        <div class="jumbotron">
          <h1>Secret1</h1>
          <p>{{ .Secret1 }}</p>
          <h1>Secret2</h1>
          <p>{{ .Secret2 }}</p>
        </div>
    </div>
</div>
{{end}}
